<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wvp.mapper.DeviceMapper">

    <resultMap type="com.ruoyi.wvp.gb28181.bean.Device" id="DeviceResult">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="name" column="name"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="model" column="model"/>
        <result property="firmware" column="firmware"/>
        <result property="transport" column="transport"/>
        <result property="streamMode" column="stream_mode"/>
        <result property="ip" column="ip"/>
        <result property="port" column="port"/>
        <result property="hostAddress" column="host_address"/>
        <result property="onLine" column="on_line"/>
        <result property="registerTime" column="register_time"/>
        <result property="keepaliveTime" column="keepalive_time"/>
        <result property="heartBeatInterval" column="heart_beat_interval"/>
        <result property="heartBeatCount" column="heart_beat_count"/>
        <result property="positionCapability" column="position_capability"/>
        <result property="channelCount" column="channel_count"/>
        <result property="expires" column="expires"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="mediaServerId" column="media_server_id"/>
        <result property="charset" column="charset"/>
        <result property="subscribeCycleForCatalog" column="subscribe_cycle_for_catalog"/>
        <result property="subscribeCycleForMobilePosition" column="subscribe_cycle_for_mobile_position"/>
        <result property="mobilePositionSubmissionInterval" column="mobile_position_submission_interval"/>
        <result property="subscribeCycleForAlarm" column="subscribe_cycle_for_alarm"/>
        <result property="ssrcCheck" column="ssrc_check"/>
        <result property="geoCoordSys" column="geo_coord_sys"/>
        <result property="password" column="password"/>
        <result property="sdpIp" column="sdp_ip"/>
        <result property="localIp" column="local_ip"/>
        <result property="asMessageChannel" column="as_message_channel"/>
        <result property="broadcastPushAfterAck" column="broadcast_push_after_ack"/>
        <result property="deptName" column="dept_name"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="addressMap" column="address_map"/>
    </resultMap>

    <update id="updateCustom">
        UPDATE wvp_device
        SET
            update_time = #{updateTime},
            custom_name = #{name},
            dept_id = #{deptId},
            password = #{password},
            stream_mode = #{streamMode},
            ip = #{ip},
            sdp_ip = #{sdpIp},
            port = #{port},
            charset = #{charset},
            ssrc_check = #{ssrcCheck},
            as_message_channel = #{asMessageChannel},
            broadcast_push_after_ack = #{broadcastPushAfterAck},
            geo_coord_sys = #{geoCoordSys},
            media_server_id = #{mediaServerId},
            manufacturer = #{manufacturer},
            lat = #{lat},
            lng = #{lng},
            address_map = #{addressMap}
        WHERE id = #{id}
    </update>

    <update id="updateSubscribeCatalog">
        UPDATE wvp_device
        SET subscribe_cycle_for_catalog = #{subscribeCycleForCatalog}
        WHERE id = #{id}
    </update>

    <update id="updateSubscribeMobilePosition">
        UPDATE wvp_device
        SET
            subscribe_cycle_for_mobile_position = #{subscribeCycleForMobilePosition},
            mobile_position_submission_interval = #{mobilePositionSubmissionInterval}
        WHERE id = #{id}
    </update>

    <select id="getOnlineDevices" resultMap="DeviceResult">
        SELECT de.id,
               de.dept_id,
               de.device_id,
               coalesce(de.custom_name, de.name) as name,
               de.password,
               de.manufacturer,
               de.model,
               de.firmware,
               de.transport,
               de.stream_mode,
               de.ip,
               de.sdp_ip,
               de.local_ip,
               de.port,
               de.host_address,
               de.expires,
               de.register_time,
               de.keepalive_time,
               de.create_time,
               de.update_time,
               de.charset,
               de.subscribe_cycle_for_catalog,
               de.subscribe_cycle_for_mobile_position,
               de.mobile_position_submission_interval,
               de.subscribe_cycle_for_alarm,
               de.ssrc_check,
               de.as_message_channel,
               de.broadcast_push_after_ack,
               de.geo_coord_sys,
               de.on_line,
               de.lat,
               de.lng,
               de.address_map,
               d.dept_name
        FROM wvp_device de
                 left join sys_dept d on de.dept_id = d.dept_id
        WHERE de.on_line = true
    </select>

    <select id="getDeviceByDeviceId" resultMap="DeviceResult">
        SELECT id,
               device_id,
               COALESCE(custom_name, name)       AS name,
               password,
               manufacturer,
               model,
               firmware,
               transport,
               stream_mode,
               ip,
               sdp_ip,
               local_ip,
               port,
               host_address,
               expires,
               register_time,
               keepalive_time,
               create_time,
               update_time,
               charset,
               subscribe_cycle_for_catalog,
               subscribe_cycle_for_mobile_position,
               mobile_position_submission_interval,
               subscribe_cycle_for_alarm,
               ssrc_check,
               as_message_channel,
               geo_coord_sys,
               on_line,
               media_server_id,
               broadcast_push_after_ack,
               (SELECT COUNT(0)
                FROM wvp_device_channel dc
                WHERE dc.data_type = 1
                  AND dc.data_device_id = de.id) AS channel_count
        FROM wvp_device de
        WHERE de.device_id = #{deviceId}
    </select>

    <select id="getDeviceList" parameterType="com.ruoyi.wvp.gb28181.bean.Device" resultMap="DeviceResult">
        SELECT
        de.id,
        de.dept_id,
        de.device_id,
        coalesce(de.custom_name, de.name) as name,
        de.password,
        de.manufacturer,
        de.model,
        de.firmware,
        de.transport,
        de.stream_mode,
        de.ip,
        de.sdp_ip,
        de.local_ip,
        de.port,
        de.host_address,
        de.expires,
        de.register_time,
        de.keepalive_time,
        de.create_time,
        de.update_time,
        de.charset,
        de.subscribe_cycle_for_catalog,
        de.subscribe_cycle_for_mobile_position,
        de.mobile_position_submission_interval,
        de.subscribe_cycle_for_alarm,
        de.ssrc_check,
        de.as_message_channel,
        de.broadcast_push_after_ack,
        de.geo_coord_sys,
        de.on_line,
        de.media_server_id,
        de.lat,
        de.lng,
        de.address_map,
        d.dept_name,
        (SELECT count(0) FROM wvp_device_channel dc WHERE dc.data_type = #{dataType} and dc.data_device_id= de.id) as
        channel_count
        FROM wvp_device de
        left join sys_dept d on de.dept_id = d.dept_id
        <where>
            <if test="device.deptId != null">and (de.dept_id = #{device.deptId} OR de.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{device.deptId}, ancestors) ))</if>
            <if test="device.status != null">
                AND de.on_line = #{device.status}
            </if>
            <if test="device.name != null">
                AND de.name LIKE CONCAT('%', #{device.name}, '%')
            </if>
            <if test="device.ip != null">
                AND de.ip LIKE CONCAT('%', #{device.ip}, '%')
            </if>
            <if test="device.manufacturer != null">
                AND de.manufacturer LIKE CONCAT('%', #{device.manufacturer}, '%')
            </if>

            <!-- 数据范围过滤 -->
            ${device.params.dataScope}
        </where>
        ORDER BY de.create_time DESC
    </select>

    <select id="query" resultMap="DeviceResult">
        select * from wvp_device where id = #{id}
    </select>


</mapper>
