<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysLargeServiceMapper">

    <resultMap type="CountDeviceNum" id="CountDeviceNumResult">
        <result property="totalGbNum"    column="totalGbNum"    />
        <result property="totalIsupNum"     column="totalIsupNum"     />
        <result property="totalRtspNum"   column="totalRtspNum"   />
        <result property="totalOnvifNum"    column="totalOnvifNum"    />
        <result property="totalDahuaNum"    column="totalDahuaNum"    />
    </resultMap>

    <resultMap type="CountGbNum" id="CountGbNumResult">
        <result property="totalNum"    column="totalNum"    />
        <result property="offlineNum"     column="offlineNum"     />
        <result property="onlineNum"   column="onlineNum"   />
    </resultMap>

    <resultMap type="LeftGbDevice" id="LeftGbDeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="name"    column="name"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="onLine"    column="on_line"    />
    </resultMap>

    <select id="leftGbDevice" resultMap="LeftGbDeviceResult">
        SELECT device_id,`name`,manufacturer,on_line FROM  wvp_device
    </select>

    <select id="countDeviceNum" resultMap="CountDeviceNumResult">
        SELECT
                (SELECT COUNT(0) FROM wvp_device) AS totalGbNum,
                (SELECT COUNT(0) FROM isup_device) AS totalIsupNum,
                (SELECT COUNT(0) FROM rtsp_device) AS totalRtspNum,
                (SELECT COUNT(0) FROM onvif_device) AS totalOnvifNum,
                (SELECT COUNT(0) FROM dahua_device) AS totalDahuaNum
    </select>

    <select id="countGbNum" resultMap="CountGbNumResult">
        SELECT
                (SELECT COUNT(0) FROM  wvp_device WHERE `on_line` = 0) AS offlineNum,
                (SELECT COUNT(0) FROM  wvp_device WHERE `on_line` = 1) AS onlineNum,
                ( SELECT COUNT(0) FROM  wvp_device) AS totalNum
    </select>
</mapper>