<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.onvif.mapper.OnvifDeviceMapper">

    <resultMap type="OnvifDevice" id="OnvifDeviceResult">
        <result property="id"    column="id"    />
        <result property="deptId" column="dept_id"/>
        <result property="ip"    column="ip"    />
        <result property="name"    column="name"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="playType"    column="play_type"    />
        <result property="url"    column="url"    />
        <result property="streamId"    column="stream_id"    />
        <result property="easyNTSUrl"    column="easy_NTS_url"    />
        <result property="channel"    column="channel"    />
        <result property="firm"    column="firm"    />
        <result property="model"    column="model"    />
        <result property="firmwareVersion"    column="firmware_version"    />
        <result property="streamUris"    column="stream_uris"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptName" column="dept_name"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="addressMap" column="address_map"/>
    </resultMap>

    <sql id="selectOnvifDeviceVo">
        select o.id,
               o.dept_id,
               o.ip,
               o.name,
               o.user_name,
               o.password,
               o.play_type,
               o.url,
               o.stream_id,
               o.easy_NTS_url,
               o.channel,
               o.firm,
               o.model,
               o.firmware_version,
               o.stream_uris,
               o.create_by,
               o.create_time,
               o.update_by,
               o.update_time,
               o.remark,
               o.lat,
               o.lng,
               o.address_map,
               d.dept_name
        from onvif_device o
                 left join sys_dept d on o.dept_id = d.dept_id
    </sql>

    <select id="selectOnvifDeviceList" parameterType="OnvifDevice" resultMap="OnvifDeviceResult">
        <include refid="selectOnvifDeviceVo"/>
        <where>
            <if test="deptId != null">and (o.dept_id = #{deptId} OR o.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))</if>
            <if test="ip != null  and ip != ''"> and o.ip = #{ip}</if>
            <if test="name != null  and name != ''"> and o.name like concat('%', #{name}, '%')</if>
            <if test="userName != null  and userName != ''"> and o.user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''"> and o.password = #{password}</if>
            <if test="url != null  and url != ''"> and o.url = #{url}</if>
            <if test="firm != null  and firm != ''"> and o.firm = #{firm}</if>
            <if test="model != null  and model != ''"> and o.model = #{model}</if>
            <if test="firmwareVersion != null  and firmwareVersion != ''"> and o.firmware_version = #{firmwareVersion}</if>
            <if test="streamUris != null  and streamUris != ''"> and o.stream_uris = #{streamUris}</if>

            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>

        order by o.create_time desc
    </select>

    <select id="selectOnvifDeviceById" parameterType="Long" resultMap="OnvifDeviceResult">
        <include refid="selectOnvifDeviceVo"/>
        where id = #{id}
    </select>

    <select id="getOneByIp" parameterType="String" resultMap="OnvifDeviceResult">
        <include refid="selectOnvifDeviceVo"/>
        where ip = #{ip}
    </select>
    <select id="selectOnvifDeviceListMap" parameterType="OnvifDevice" resultMap="OnvifDeviceResult">
        <include refid="selectOnvifDeviceVo"/>
        <where>
            <if test="deptId != null">and (o.dept_id = #{deptId} OR o.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))</if>
            <if test="ip != null  and ip != ''"> and o.ip = #{ip}</if>
            <if test="name != null  and name != ''"> and o.name like concat('%', #{name}, '%')</if>
            <if test="userName != null  and userName != ''"> and o.user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''"> and o.password = #{password}</if>
            <if test="url != null  and url != ''"> and o.url = #{url}</if>
            <if test="firm != null  and firm != ''"> and o.firm = #{firm}</if>
            <if test="model != null  and model != ''"> and o.model = #{model}</if>
            <if test="firmwareVersion != null  and firmwareVersion != ''"> and o.firmware_version = #{firmwareVersion}</if>
            <if test="streamUris != null  and streamUris != ''"> and o.stream_uris = #{streamUris}</if>
            and lat IS NOT NULL AND lng IS NOT NULL

            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by o.create_time desc
    </select>

    <insert id="insertOnvifDevice" parameterType="OnvifDevice" useGeneratedKeys="true" keyProperty="id">
        insert into onvif_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="ip != null">ip,</if>
            <if test="name != null">name,</if>
            <if test="userName != null">user_name,</if>
            <if test="password != null">password,</if>
            <if test="playType != null">play_type,</if>
            <if test="url != null">url,</if>
            <if test="streamId != null">stream_id,</if>
            <if test="easyNTSUrl != null">easy_NTS_url,</if>
            <if test="channel != null">channel,</if>
            <if test="firm != null">firm,</if>
            <if test="model != null">model,</if>
            <if test="firmwareVersion != null">firmware_version,</if>
            <if test="streamUris != null">stream_uris,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="lat != null">lat,</if>
            <if test="lng != null">lng,</if>
            <if test="addressMap != null">address_map,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="ip != null">#{ip},</if>
            <if test="name != null">#{name},</if>
            <if test="userName != null">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="playType != null">#{playType},</if>
            <if test="url != null">#{url},</if>
            <if test="streamId != null">#{streamId},</if>
            <if test="easyNTSUrl != null">#{easyNTSUrl},</if>
            <if test="channel != null">#{channel},</if>
            <if test="firm != null">#{firm},</if>
            <if test="model != null">#{model},</if>
            <if test="firmwareVersion != null">#{firmwareVersion},</if>
            <if test="streamUris != null">#{streamUris},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="lat != null">#{lat},</if>
            <if test="lng != null">#{lng},</if>
            <if test="addressMap != null">#{addressMap},</if>
        </trim>
    </insert>

    <update id="updateOnvifDevice" parameterType="OnvifDevice">
        update onvif_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="name != null">name = #{name},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="playType != null">play_type = #{playType},</if>
            <if test="url != null">url = #{url},</if>
            <if test="streamId != null">stream_id = #{streamId},</if>
            <if test="easyNTSUrl != null">easy_NTS_url = #{easyNTSUrl},</if>
            <if test="channel != null">channel = #{channel},</if>
            <if test="firm != null">firm = #{firm},</if>
            <if test="model != null">model = #{model},</if>
            <if test="firmwareVersion != null">firmware_version = #{firmwareVersion},</if>
            <if test="streamUris != null">stream_uris = #{streamUris},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="lng != null">lng = #{lng},</if>
            <if test="addressMap != null">address_map = #{addressMap},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOnvifDeviceById" parameterType="Long">
        delete from onvif_device where id = #{id}
    </delete>

    <delete id="deleteOnvifDeviceByIds" parameterType="String">
        delete from onvif_device where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
